In [1]:

1+1

2

BASICS

In [2]:
#VARIOUS WAYS OF PRINTING
print('hello')

hello

In [3]:
first_name='satyam'
last_name='yadav'

In [4]:
print('My first Name is {} and last name is {}'.format(first_name,last_name))

My first Name is satyam and last name is yadav

In [5]:
print('My first Name is {first} and last name is {last}'.format(first=first_name,last=last_name))

My first Name is satyam and last name is yadav

In [6]:
len('satyam')

6

# **SOME BASIC STRING FUNCTIONS OF PYTHON CHECK GOOGLE**

# **LIST**
it is mutable and exchangable it contains any element inside numbers alpahabets and float any combination

In [7]:
my_list=[1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
my_list=['satyam',4.0,4]
print(my_list);

In [15]:
#to get subaaray or list element from range to some range
my_list[1:] # after colan nothing so it will take entire length
my_list[1:2] # takes just one element that is element at index 1

[4.0]

In [9]:
#building empty list
lst=list()

In [ ]:
#length of list
len(lst)

In [12]:
#append in list --> appends at last
lst.append('satyam')
lst.append(23)
lst.append('CCE')
lst

['satyam', 23, 'CCE', 'satyam', 23, 'CCE']

In [16]:
#adding list in list
lst.append(['john','tommy'])
lst

['satyam', 23, 'CSE', 'CCE', 'satyam', 23, 'CCE', ['john', 'tommy']]

In [13]:
#insert---> to insert at any index and shifts by one the remaining element
lst.insert(2,'CSE')
lst

['satyam', 23, 'CSE', 'CCE', 'satyam', 23, 'CCE']

In [19]:
#extend---> to add more than one element in one go
lst=[1,2,3,4,5,6]
print('list before extending',lst)

####now i want to add 7 8 9 in one go
lst.extend([7,8,9])
print('list after extending ',lst)

list before extending [1, 2, 3, 4, 5, 6]
list after extending  [1, 2, 3, 4, 5, 6, 7, 8, 9]

**various operation on list**

In [20]:
sum(lst)

45

**pop**
by default it pops the last element
u can specify some index like pop(ith)

In [21]:
lst.pop()

9

In [22]:
lst.pop(3)

4

count total occurance of element in a list

In [23]:
lst.count(1)

1

find the first occurance of the element in the given range of indixes

In [24]:
lst.index(1,0,len(lst)-1) # first para is the element and other 2 are range
      #or
lst.index(1) #if the start and end is the entire array

0

In [26]:
lst*2 #multiply list into 2 times

[1, 2, 3, 5, 6, 7, 8, 1, 2, 3, 5, 6, 7, 8]

# **set**
like a hash table

In [30]:
#defining a set
set_var=set()
#adding elements
set_var.add(1)
set_var.add(2)
set_var.add(3)
set_var

{1, 2, 3}

In [32]:
#set operations like difference unions and updates
set1={1,2,3,4,5}
set2={4,5,6,7}
# 1 difference
set1.difference(set2)

{1, 2, 3}

In [34]:
#update the differnece in set
set1.difference_update(set2)
set1

{1, 2, 3}

In [ ]:
#similar;y for union intersection and other stuff

# **DICTIONARY**
a simple thing like hash map key value pair

In [35]:
my_dict={}
my_dict={'car1':'audi','car2':'alto','car3':'pexo'}
my_dict

{'car1': 'audi', 'car2': 'alto', 'car3': 'pexo'}

In [36]:
#to acces value use key
my_dict['car1']

'audi'

In [38]:
#to loop through dict keys
for x in my_dict:
   print(x)

car1
car2
car3

In [39]:
#to get values
for x in my_dict.values():
    print(x)

audi
alto
pexo

In [40]:
#to get key and values together
for x in my_dict.items():
     print(x)

('car1', 'audi')
('car2', 'alto')
('car3', 'pexo')

In [41]:
#adding items in dict
my_dict['car4']="BENZ"
my_dict

{'car1': 'audi', 'car2': 'alto', 'car3': 'pexo', 'car4': 'BENZ'}

**NESTED DICTIONARY**

In [42]:
map1={'mercury':"hot"}
map2={'uranus':"cool"}
map={'planet1':map1,'planet2':map2}
map

{'planet1': {'mercury': 'hot'}, 'planet2': {'uranus': 'cool'}}

In [43]:
#to get hot how ?
map['planet1']['mercury']

'hot'

# Tuples
in which the value does not changes either the whole is to be changed or none

In [46]:
my_tup=tuple()
my_tup=["satyam","sattu","jorawar"]
my_tup[0] # index retrieval

my_tup=["dhera","nath"] # entirely changed
my_tup

['dhera', 'nath']